/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo - página */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #F5F5F5;
    line-height: 1.6;
}

/* Container centralizado */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Barra de Navegação */
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #030000;
    padding: 10px;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #030000;
}

/* Header */
header {
    text-align: center;
    margin: 50px 0;
}

header .center {
    display: flex;
    justify-content: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 3rem;
    color: #2f09ef;
    margin-top: 20px;
}

header h2 {
    font-size: 1.5rem;
    color: #333;
}

/* Seções principais */
main section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

main h3 {
    font-size: 2rem;
    color: #2f09ef;
    margin-bottom: 20px;
}

main p {
    font-size: 1rem;
    color: #030000;
}